section {
    
    display: flex;
    flex-direction: row;
    align-items: center; /* Center horizontally */
    justify-content: center;
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    margin: 30px;
    outline: 10px black;
    
}
section img {

    width: 100%; 
    height: 100%;
    margin: 10px;
    
}
  
#chartContainer {
    padding: 2rem;
    grid-column-start: 18;
    grid-column-end:20;
    margin: 2px;
}

h1 {
text-align: center;
font-size: 50px;


}
main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center;
 
}

  

#myChart {
  width: 600px; /* Set the desired width */
  height: 400px; /* Set the desired height */
}

